body{
    font: normal 15px Arial;
    width: 99%;
    background: linear-gradient(blue, purple);
}

header{
    color: green;
    text-align: center;
}
section{
    background: url('imagens/idade.png') no-repeat;
    background-size: 100% 100%;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px black;
    position: relative;
    top: 10px;
}
div{

}
footer{
    color: white;
    text-align: center;
    font-style: italic;
}

h1{
    font-size: 40px;
    position: relative;
    top: 35px;
}

img{
    width: 100%;
}

.verifica{
    position: relative;
    top: 100px;
}

#res{
    width: 50%;
    position: relative;
    left: 25%;
}

#res p{
    color: skyblue;
    position: relative;
    top: 40px;
    font-size: 20px;
}

#cima{
    background: url('imagens/idades.png') no-repeat;
    background-size: 100% 100%;
    position: relative;
    top: -10px;
    right: 2px;
    border: 1px solid black;
    height: 300px;
}

@media only screen and (max-width: 590px){
    section{
        width: 400px;
    }
}

@media only screen and (max-width: 415px){
    #cima{
        position: relative;
        right: 1%;
    }

    section{
        position: relative;
        right: 1%;
    }
}

@media only screen and (max-width: 400px){
    #cima{
        position: relative;
        left: 3%;
    }

    section{
        width: 300px;
    }

    #res p{
        position: relative;
        top: 50px;
    }
}